<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ConsultasME</display-name>
<!--     <filter> -->
<!--         <filter-name>FilterProfile</filter-name> -->
<!--         <filter-class>cl.tesoreria.seguridad.filter.FilterProfile</filter-class> -->
<!--     </filter> -->
<!--     <filter-mapping> -->
<!--         <filter-name>FilterProfile</filter-name> -->
<!--         <url-pattern>*.do</url-pattern> -->
<!--     </filter-mapping> -->
    <servlet>
        <description/>
        <servlet-name>action</servlet-name>
        <servlet-class>org.apache.beehive.netui.pageflow.PageFlowActionServlet</servlet-class>
        <init-param>
            <description/>
            <param-name>config</param-name>
            <param-value>/_pageflow/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <description/>
            <param-name>config/-global</param-name>
            <param-value>/_pageflow/struts-config--global.xml</param-value>
        </init-param>
        <init-param>
            <description/>
            <param-name>debug</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <description/>
            <param-name>detail</param-name>
            <param-value>2</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <description/>
        <servlet-name>forwardRequest</servlet-name>
        <servlet-class>cl.tesoreria.seguridad.forward.ForwardRequest</servlet-class>
    </servlet>
    <servlet>
        <description/>
        <servlet-name>allower</servlet-name>
        <servlet-class>cl.tesoreria.seguridad.allower.Grant</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>forwardRequest</servlet-name>
        <url-pattern>*.fw</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>allower</servlet-name>
        <url-pattern>*.gr</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>/Main/Controller.jpf</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>500</error-code>
        <location>/error.jsp</location>
    </error-page>
    <security-constraint>
		<web-resource-collection>
			<web-resource-name>SecureViews</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>users</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>PublicViews</web-resource-name>
			<url-pattern>/resources/*</url-pattern>
		</web-resource-collection>
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>tgr</realm-name>
        <form-login-config>
            <form-login-page>/login.jsp</form-login-page>
            <form-error-page>/error.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
		<role-name>users</role-name>
	</security-role>
    <filter>
        <filter-name>PageFlowJspFilter</filter-name>
        <filter-class>org.apache.beehive.netui.pageflow.PageFlowJspFilter</filter-class>
    </filter>
    <filter>
        <filter-name>PageFlowForbiddenFilter</filter-name>
        <filter-class>org.apache.beehive.netui.pageflow.PageFlowForbiddenFilter</filter-class>
        <init-param>
            <param-name>response-code</param-name>
            <param-value>404</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>PageFlowJspFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>PageFlowJspFilter</filter-name>
        <url-pattern>*.jspx</url-pattern>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>PageFlowForbiddenFilter</filter-name>
        <url-pattern>*.java</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>PageFlowForbiddenFilter</filter-name>
        <url-pattern>*.jsfb</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>PageFlowForbiddenFilter</filter-name>
        <url-pattern>*.jpfs</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>PageFlowForbiddenFilter</filter-name>
        <url-pattern>/_pageflow/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <listener>
        <listener-class>org.apache.beehive.netui.pageflow.PageFlowContextListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.apache.beehive.netui.pageflow.HttpSessionMutexListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>XmlHttpRequestServlet</servlet-name>
        <servlet-class>org.apache.beehive.netui.pageflow.xmlhttprequest.XmlHttpRequestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.jpf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XmlHttpRequestServlet</servlet-name>
        <url-pattern>*.xhr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XmlHttpRequestServlet</servlet-name>
        <url-pattern>*.render</url-pattern>
    </servlet-mapping>    
</web-app>